.popup__profile {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    margin: 0 36px 48px 36px;
    padding: 0;
}

@media (max-width: 320px) {
    .popup__profile {
        max-width: 238px;
        margin: 0 22px 25px 22px;
    }
}